# Testes Prova-Final

In [ ]:
alpha = [4, 8, 15, 16, 23, 42]
beta = alpha[:]
beta[2] = 99
print(beta)
print(alpha)

In [ ]:
def compute_square(x):
    return x * x

def compute_quad(x):
    return compute_square(x) * compute_square(None)

print(compute_quad(4))

In [ ]:
my_numbers = [10, 20, 30, 40, 50]

for i in range(4):
    my_numbers.insert(i, my_numbers[-1])

print(my_numbers)

In [ ]:
def compute_square(x):
    return x * x

def compute_quad(x):
    return compute_square(x) * compute_square(None)

print(compute_quad(4))

TypeError: unsupported operand type(s) for *: 'NoneType' and 'NoneType'

In [ ]:
1 // 2

0

In [ ]:
def raise_power(base, exponent):
    return base ** exponent
print(raise_power(exponent=3, 2))

SyntaxError: positional argument follows keyword argument (<ipython-input-6-790733bab9ce>, line 5)

In [ ]:
z = 0
y = 10
x = y < z and z > y or y < z and z < y
print(x)

False

In [ ]:
my_values = [3 * i for i in range(5)]

def modify_list(values):
    del values[values[2] // 3]
    return values


print(modify_list(my_values))

[0, 3, 9, 12]

In [ ]:
x = 1
y = 2
x, y, z = x, x, y
z, y, z = x, y, z

print(x, y, z)

1 1 2

In [ ]:
a = 1
b = 0
a = a ^ b
b = a ^ b
a = a ^ b

print(a, b)

0 1

In [ ]:
def custom_function(value):
    if value % 3 == 0:
        return 1
    else:
        return 2


print(custom_function(custom_function(4)))

2

In [ ]:
inventory = ['apple', 'banana', 'cherry']
backup_inventory = inventory
del backup_inventory[:]
print(backup_inventory)
print(inventory)

[]
[]

In [ ]:
first_integer = int(input("Digite um número inteiro: "))
second_integer = int(input("Digite outro número inteiro: "))
first_integer = first_integer % second_integer
first_integer = first_integer % second_integer
second_integer = second_integer % first_integer
print(second_integer)

Digite um número inteiro: 11
Digite outro número inteiro: 57
2

In [ ]:
first_input = input("Digite o primeiro número: ")
second_input = input("Digite o segundo número: ")
print(second_input + first_input)

Digite o primeiro número: 8
Digite o segundo número: 5
58

In [ ]:
x = 1 // 5 + 1 / 5
print(x)

0.2

In [ ]:
sample_tuple = (1,0,10)

# sample_tuple[0] = 5
print(sample_tuple)
print (type(sample_tuple))

(1, 0, 10)
<class 'tuple'>

In [ ]:
x = float(input())
y = float(input())
print(y ** (1 / x))

2
4
2.0

In [ ]:
dictionary = {'alpha': 'beta', 'gamma': 'alpha', 'beta': 'gamma'}
value = dictionary['gamma']

for key in range(len(dictionary)):
    value = dictionary[value]

print(value)

alpha

In [ ]:
values = [i for i in range(-1, -3, -1)]
print(values)

[-1, -2]

In [ ]:
def fun(x, y):
    if x == y:
        return x
    else:
        return fun(x, y-1)


print(fun(0, 3))

0

In [ ]:
i = 0
while i < i + 2 :
    i += 1
    print("*")
else:
    print("*")

In [ ]:
my_tuple = (10, 20, 30, 40, 50)
my_tuple = my_tuple[-3:-1]
my_tuple = my_tuple[-1]
print(my_tuple)

40

In [ ]:
my_dict = {"apple": 1, "banana": 2, "cherry": 3}
for item in my_dict:
  print(item)

apple
banana
cherry

In [ ]:
dct = {}
dct['1'] = (1, 2)
dct['2'] = (2, 1)

for x in dct.keys():
    print(dct[x][1], end="")

21

In [ ]:
def fun(inp=2, out=3):
    return inp * out


print(fun(out=2))

4

In [ ]:
try:
    value = input("Digite um valor: ")
    print(int(value)/len(value))
except ValueError:
    print("Entrada ruim...")
except ZeroDivisionError:
    print("Entrada muito ruim...")
except TypeError:
    print("Muito, muito ruim entrada...")
except:
    print("Booo!")

Digite um valor: 0
0.0

In [ ]:
try:
    print(10 / 0)
    break
except ZeroDivisionError:
    print("Ocorreu um erro de divisão por zero...")
except (ValueError, TypeError):
    print("Ocorreu um erro de valor ou tipo...")
except:
    print("Ocorreu um erro desconhecido...")

SyntaxError: 'break' outside loop (<ipython-input-44-6cf946f8bcb7>, line 3)

In [ ]:
foo = (1, 2, 3)
foo.index(0)

ValueError: tuple.index(x): x not in tuple

In [ ]:
print(3 + "5")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
my_list =  [x * x for x in range(5)]


def fun(lst):
    del lst[lst[2]]
    return lst


print(fun(my_list))

[0, 1, 4, 9]

In [ ]:
my_list = [1, 2]

for v in range(2):
    my_list.insert(-1, my_list[v])

print(my_list)

[1, 1, 1, 2]

In [ ]:
x = int(input())
y = int(input())
x = x % y
x = x % y
y = y % x
print(y)

3
2
0

In [ ]:
tup = (1, 2, 4, 8)
tup = tup[-2:-1]
tup = tup[-1]
print(tup)

4

In [ ]:
dd = {"1": "0", "0": "1"}
for x in dd.vals():
    print(x, end="")

AttributeError: 'dict' object has no attribute 'vals'

In [ ]:
dct = {}
dct['1'] = (1, 2)
dct['2'] = (2, 1)

for x in dct.keys():
    print(dct[x][1], end="")

21

In [ ]:
lst = [[x for x in range(3)] for y in range(3)]

for r in range(3):
    for c in range(3):
        if lst[r][c] % 2 != 0:
            print("#")

#
#
#

In [ ]:
try:
    print(5/0)
    break
except:
    print("Desculpe, algo deu errado...")
except (ValueError, ZeroDivisionError):
    print("Muito ruim...")

SyntaxError: 'break' outside loop (<ipython-input-19-6de8d99974b8>, line 3)

In [ ]:
print(¡Hola Mundo!)

SyntaxError: invalid character '¡' (U+00A1) (<ipython-input-20-cbf8f91a33c2>, line 1)

# Testes gerais

In [ ]:
my_list = [1, 2]

for v in range(2):
    my_list.insert(-1, my_list[v])

print(my_list)

[1, 1, 1, 2]

In [ ]:
nums = [1, 2, 3]
vals = nums
print(nums, vals)

[1, 2, 3] [1, 2, 3]

In [ ]:
def function_1(a):
    return None


def function_2(a):
    return function_1(a) * function_1(a)


print(function_2(2))

TypeError: unsupported operand type(s) for *: 'NoneType' and 'NoneType'

In [ ]:
1 // 2

0

In [ ]:
def func(a, b):
    return b ** a


print(func(b=2, 2))

SyntaxError: positional argument follows keyword argument (<ipython-input-5-968707335caa>, line 5)

In [ ]:
z = 0
y = 10
x = y < z and z > y or y < z and z < y

print(x)

False

In [ ]:
my_list =  [x * x for x in range(5)]


def fun(lst):
    del lst[lst[2]]
    return lst


print(fun(my_list))

[0, 1, 4, 9]

In [ ]:
a = 1
b = 0
a = a ^ b
b = a ^ b
a = a ^ b

print(a, b)

1 0

In [ ]:
def fun(x):
    if x % 2 == 0:
        return 1
    else:
        return 2


print(fun(fun(2)))

2

In [ ]:
nums = [1, 2, 3]
vals = nums
del vals[:]

print(nums, vals)

[] []

In [ ]:
x = int(input())
y = int(input())
x = x % y
x = x % y
y = y % x
print(y)

3
2
0

In [ ]:
x = 1 // 5 + 1 / 5
print(x)

0.2

In [ ]:
x = float(input())
y = float(input())
print(y ** (1 / x))

2
4
2.0

In [ ]:
def fun(x, y):
    if x == y:
        return x
    else:
        return fun(x, y-1)


print(fun(0, 3))

0

In [ ]:
tup = (1, 2, 4, 8)
tup = tup[-2:-1]
tup = tup[-1]
print(tup)

4

In [ ]:
dd = {"1": "0", "0": "1"}
for x in dd.vals():
    print(x, end="")

AttributeError: 'dict' object has no attribute 'vals'

In [ ]:
dct = {}
dct['1'] = (1, 2)
dct['2'] = (2, 1)

for x in dct.keys():
    print(dct[x][1], end="")

21

In [ ]:
def fun(inp=2, out=3):
    return inp * out


print(fun(out=2))

4

In [ ]:
lst = [[x for x in range(3)] for y in range(3)]

for r in range(3):
    for c in range(3):
        if lst[r][c] % 2 != 0:
            print("#")

#
#
#

In [ ]:
try:
    print(5/0)
    break
except:
    print("Desculpe, algo deu errado...")
except (ValueError, ZeroDivisionError):
    print("Muito ruim...")

SyntaxError: 'break' outside loop (<ipython-input-21-6de8d99974b8>, line 3)

In [ ]:
foo = (1, 2, 3)
foo.index(0)

ValueError: tuple.index(x): x not in tuple