# Meu primeiro notebook python

In [ ]:
print("Olá mundo!, só que dentro de um notebook.")
#int(input('Coloca um numero aqui,' '.'))

#Variáveis no Python

- Dinamicamente tipada

In [8]:
n = 20
txt = "GG WP"
print(n)
print("txt")
print(txt)

20
txt
GG WP

- # Tipos de variáveis
#####  Numéricas

In [39]:
PI = 3.14
COMPLEX = 6j

print(type(n))
print(type(PI))
print(type(COMPLEX))

<class 'int'>
<class 'float'>
<class 'complex'>

#####  Texto

In [40]:
print(type(txt))

<class 'str'>

#####  Coleções

In [47]:
lista = ['Tomate','Alface','Cebola']# Com []
tupla = ('Aveia','Nescau boll','Sucrilhos')# Com ()
periodo = range(0,6)# Periodo entre dois números

print(type(lista))
print(type(tupla))
print(type(periodo))

<class 'list'>
<class 'tuple'>
<class 'range'>

In [48]:
dicionario = {'Nome':'GG da silva','Idade':45,'alunos ADS2024': ['Catharina','Mó','Balneario']}
print(type(dicionario))

<class 'dict'>

In [49]:
conjunto = {'Pepino','Cenoura','Beterraba'}# Com {}
conjunto_congelado= frozenset({'Patinho','Lagarto','Costela'})# Com frozenset()

print(type(conjunto))
print(type(conjunto_congelado))

<class 'set'>
<class 'frozenset'>

In [50]:
booleano = True
print(type(booleano))

<class 'bool'>

In [52]:
bitearray = bytearray(5)
memoryview = memoryview(bytes(5))
NENHUM = None

In [53]:
Nome = input('Me diga o seu nome:' )
Idade = int(input('Me diga o sua idade:' ))
# Data_Nacimento = 2024 - Idade
Idade = int(Idade) + 1

print('Olá', Nome +', Você tem', Idade ,'anos.')
print('Olá ' + Nome + ', Você tem '+ str(Idade) + ' anos.') #Só serve para contatenar STRING
print(f'Olá {Nome}, Você tem {Idade} anos.')# Forma mais usada

Me diga o seu nome:gg
Me diga o sua idade:60
Olá gg, Você tem 61 anos.
Olá gg, Você tem 61 anos.
Olá gg, Você tem 61 anos.

#####  Operadores

#####  Aritiméticos

In [55]:
n1 = 10
n2 = 4

print(f'Os números são {n1} e {n2}')

print(f'Soma {n1 + n2}')
print(f'Subtração {n1 - n2}')
print(f'Multiplicação {n1 * n2}')
print(f'Divisão {n1 / n2}')
print(f'Exponenciação {n1 ** n2}')
print(f'Divisão inteira {n1 // n2}')
print(f'Resto da Divisão {n1 % n2}')

Os números são 10 e 4
Soma 14
Subtração 6
Multiplicação 40
Divisão 2.5
Exponenciação 10000
Divisão inteira 2

### **Exercício**

Crie um conversor de temperatura de graus Celcius para Fahrenheit.

In [7]:
TempC = float(input('Digite a temperatura em °C:'))
C_F = TempC * 9/5 + 32
print(f'A temperatura é de {C_F}°F')

Digite a temperatura em °C:10.890
A temperatura é de 51.602000000000004°F

In [9]:
import time
Dia_Nacimento = int(input('Me diga o dia do seu nacimento: '))
Mês_Nacimento = int(input('Me diga o mês do seu nacimento: '))

print('\n')
print('Estamos calculando seu número da sorte...')
time.sleep (3)

n_magico = (Dia_Nacimento + Mês_Nacimento)* 3 + (Dia_Nacimento/2) - Mês_Nacimento
print(f'Seu nuúmero da sorte é {n_magico}.')

Me diga o dia do seu nacimento: 24
Me diga o mês do seu nacimento: 10


Estamos calculando seu número da sorte...
Seu nuúmero da sorte é 104.0.